.prev {
    position: absolute;
    top: 35%;
    -moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    left: -28px;
    &:after {
        content: '\f104';
        font-family: FontAwesome;
        font-size: 2.75rem;
        font-weight: normal;
        font-style: normal;
        color: #000;    
    }
    &:hover {
        cursor: pointer;
    }
}
.next {
    position: absolute;
    top: 35%;
    -moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    right: -36px;
    &:after {
        content: '\f105';
        font-family: FontAwesome;
        font-size: 2.75rem;
        font-weight: normal;
        font-style: normal;
        color: #000;    
    } 
    &:hover {
        cursor: pointer;
    }
}

.banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
}
.banner_option_1 {
    margin: 20px auto;
    padding: 0 8px;
    width: 80%;
    position: relative;
    box-sizing: border-box;
    .slick-slide {
        padding: 0 8px;
        box-sizing: border-box;
        .banner {
            max-width: 100%;
            position: relative;
            transform: scale(0.9);
            transition: all 1s ease-out;
            opacity: 0.5;    
        }
    }
    .slick-slide.slick-center .banner {
        transform: scale(1.1);
        transition: all 1s ease-out;
        opacity: 1;    
    }
}

// .slide img {
//   max-width: 100%;
//   position: relative;
//   transform: scale(0.9);
//   transition: all 1s ease-out;
//   opacity: 0.5;
// }
// .slide.slick-center img {
//   transform: scale(1.1);
//   transition: all 1s ease-out;
//   opacity: 1;
// }
// .slick-prev, .slick-next {
//     width: 60px;
//     height: 60px;
//     border: none;
//     border-radius: 50%;
//     margin: auto;
//     position: absolute;
//     z-index: 3000;
//     top: 0;
//     bottom: 0;
//     background: url(http://prague-camp.ru/theme/prague-camp/images/split.png) no-repeat,#aaa;
//     -webkit-box-shadow: 3px 1px 0 rgba(0,0,0,0.15), -1px 3px 0 rgba(0,0,0,0.15);
//     box-shadow: 3px 1px 0 rgba(0,0,0,0.15), -1px 3px 0 rgba(0,0,0,0.15);
//     cursor: pointer;
//     outline: none;
// }
// .slick-prev {
//     left: -30px;
//     background-position: -220px -20px;
// }
// .slick-next {
//     right: -30px;
//     background-position: -320px -20px;
// }