.banner_prev {
    position: absolute;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    left: -28px;
    &:after {
        content: '\f104';
        font-family: FontAwesome;
        font-size: 2.75rem;
        font-weight: normal;
        font-style: normal;
        color: #000;    
    }
    &:hover {
        cursor: pointer;
    }
}
.banner_next {
    position: absolute;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
    right: -36px;
    &:after {
        content: '\f105';
        font-family: FontAwesome;
        font-size: 2.75rem;
        font-weight: normal;
        font-style: normal;
        color: #000;    
    } 
    &:hover {
        cursor: pointer;
    }
}

.banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
}

.banner_option_1 {
    margin: 20px auto;
    padding: 0 8px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    .slick-slide {
        padding: 0 8px;
        box-sizing: border-box;
        .banner {
            max-width: 100%;
            position: relative;
            transform: scale(0.9);
            transition: all 1s ease-out;
            opacity: 0.5;    
        }
    }
    .slick-slide.slick-center .banner {
        transform: scale(1.1);
        transition: all 1s ease-out;
        opacity: 1;    
    }
}


.banner_option_2 {
    margin: 20px auto;
    padding: 0 8px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    .slick-slide {
        padding: 0 8px;
        box-sizing: border-box;
        .banner {
            // height: 100%;
            opacity: 0;
            // position: absolute;
            // top: 0;
            // left: 0;
            z-index: 0;
            // transform: translate3d(-100%,0,0);
            transition: all 4s ease;
            width: 100%;
        }
    }
    .slick-slide.slick-active .banner {
    //     transform: scale(1.1);
    //     transition: all 1s ease-out;
        opacity: 1;    
    }
}