<!DOCTYPE html>
<html lang="en" data-vue-meta-server-rendered>
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Twin Pines Shopping Centre</title> <!-- Change to Site name -->
		<!-- FAVICON -->
		<link rel="shortcut icon" href="" type="image/x-icon" />
		
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="//preview-5a1891476e6f645140560000.codecloudapp.com/agile.css" rel="stylesheet">
		<link href="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css" rel="stylesheet">
		<link href="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet">
		<link href="//cdn.jsdelivr.net/npm/vue2-animate@1.0.4/dist/vue2-animate.min.css" rel="stylesheet">
		<link href="//emmachat.codecloudapp.com/chat.css" rel="stylesheet">
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" href="/application.css">
		<link rel="stylesheet" href="/v-calendar.css">
	</head>
	<body>
        <!--<script>-->
        <!--    window.fbAsyncInit = function() {-->
        <!--        FB.init({-->
        <!--            appId            : '1987015024884837',-->
        <!--            autoLogAppEvents : true,-->
        <!--            xfbml            : true,-->
        <!--            version          : 'v2.11'-->
        <!--        });-->
        <!--    };-->
    
        <!--    (function(d, s, id){-->
        <!--        var js, fjs = d.getElementsByTagName(s)[0];-->
        <!--        if (d.getElementById(id)) {return;}-->
        <!--        js = d.createElement(s); js.id = id;-->
        <!--        js.src = "https://connect.facebook.net/en_US/sdk.js";-->
        <!--        fjs.parentNode.insertBefore(js, fjs);-->
        <!--    }(document, 'script', 'facebook-jssdk'));-->
        <!--</script>-->
		<div id="app" v-cloak>
			<loader v-if="!dataLoaded"></loader>
			<div class="main_content_container" v-if="dataLoaded">
			    <header-component :menu_items="menu_items" :social_media="social_media" v-if="dataLoaded"></header-component>
			    
				<transition name="custom-classes-transition" enter-active-class="fadeIn">
					<router-view class="content" :locale="locale" ></router-view>
				</transition>
				<!-- CHATBOT -->
                <div class="container">
                    <!--Trigger the modal with a button -->
                    <div id="chaticon" class="animated swing infinite" data-toggle="modal" data-target="#chat_modal" @click="showChat = !showChat">
                        <input id="chatbot" type="image" src="//codecloud.cdn.speedyrails.net/sites/596e75bc6e6f6473f8be0000/image/png/1501602564000/chat_icon.png" />
                    </div>
                    <!--Modal -->
                    <div v-if="showChat" class="modal" id="chat_modal" tabindex="-1" role="dialog" aria-labelledby="chat_modalLabel">
                        <div class="lab-modal-body modal-sm">
                            <button type="button" class="close_chatbot" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <iframe id="chat_frame" src="https://emmachat.codecloudapp.com/chat" width="100%" height="400px" frameBorder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
				<footer-component :footer_menu_items="footer_menu_items" :social_media="social_media" v-if="dataLoaded"></footer-component>
			</div>
		</div>
		
		<div class='modal-backdrop custom_backdrop hidden_now' id="popup_backdrop"></div>
		<script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
		<script src="https://unpkg.com/es6-shim@0.35.3/es6-shim.min.js"></script>
		<script data-main="/main" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
	</body>
</html>